# Python backend
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

#node
node_modules/

# SQLite database
backend/tasks.db

# Environment variables (future-proofing)
.env

# TypeScript / frontend build output
dist/

# OS / Editor junk
.DS_Store
.vscode/
.idea/